.background {
 	background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190220/ourmid/pngtree-watercolor-floral-background-flowers-simple-image_4932.jpg");
 	background-repeat: no-repeat;
 	background-size: 1270px;
 }